//alpine
$primary-alpine :#bb9230;
$lighter-alpine : lighten($primary-alpine, 10%);
$darker-alpine : draken($primary-alpine, 10%);

//black
$main-black:#000000;
$lighter-black:lighten($main-black, 10%);
$light-black:lighten($main-black, 20%);
$gray:#918F89;


//white
$main-white:#FFFFFF;
$Ivory-white:#FFFFF4;
$floral-white-3:#FFFCF8;

//gray
$main-gray:#918F89;


//red
$main-red:#c92027;