.detailsOfProduct{
    width: 80%;
    margin-top:  7rem; 
    margin-left: 7rem;
    border: 2px solid $primary-alpine;
    border-radius: 10px;
    height: 100px;
}
.totalPriceContainer{
    display:flex ;
    margin-left: 10rem;
}
