.button--rounded {
  width: 100%;
  height: 7.5rem;
  // height: 5rem;
  box-sizing: border-box;
  border-radius: 4rem;
  border: 0.2rem solid $primary-alpine;
  // padding-left: 3rem;
  color: $main-black;
  font-size: 2rem;
  // font-weight: bold;
  text-align: center;
  // display: inline-block;
  background-color: $main-white;
  cursor: pointer;

  &--shadow {
    box-shadow: 2px 4px 5px 1px rgba(0, 0, 0, 0.2);
  }

  &--s {
    width: 12rem;
    height: 4rem;
    margin-right: 1rem;
    text-align: center;
    border-radius: 4rem;
    border: 0.2rem solid $primary-alpine;
    background-color: $floral-white-3;
    font-weight: 500;
    cursor: pointer;
    font-size: 1.6rem;
  }
  &--xs {
    width: 8rem;
    height: 3.4rem;
    background-color: $main-red;
    color: white;
    border: none;
    font-size: 1.6rem;
  }
  &--danger {
    background-color: $main-red;
    color: white;
    border: none;
  }

  &--disabled {
    display: none;
  }
}

.button--rounded:focus,
textarea:focus,
select:focus {
  outline: none;
}
