.userHistoryFilter {
  margin-top: 2rem;
  display: grid;
  grid-template-columns: auto;
  width: 100%;
  >div{
    width: 30%;
  }
}
.company-logo {
  @include flex(row, space-between, center);
}
.addToCart {
  border: 0.1rem solid $primary-alpine;
  border-radius: 20px;
  margin-right: 5rem;
  padding: 2rem;
}