.paging {
  display: flex;
  margin: 1.5rem;
  font-size: 1.4rem;
  color: $primary-alpine;
  font-weight: 400;
  grid-column: 3;
  justify-self: end;

  &__grid {
    margin: 2rem 10rem;
    display: grid;
    // position: relative;
    grid-template-columns: auto auto auto auto;
    // column-gap: 5rem;
    justify-content: end;
  }

  &__arrow {
    border: $lighter-alpine;
    padding: 0.6rem 1rem;
    margin: 0.2rem;
  }
  &__number {
    border: $lighter-alpine;
    padding: 0.6rem 1rem;
    margin: 0.2rem;
    &.active {
      background-color: $primary-alpine;
      color: $main-white;
      border-radius: 50%;
    }
  }
}
