.dropdown-head {
  width: 100%;
  z-index: 10;
  &__arrow {
    color: $primary-alpine;
    font-size: 2rem;
    position: relative;
    top: 0.2rem;
    left: 93%;
  }

  &__text {
    text-align: center;
    display: inline-block;
    margin-top: 0.8rem;
    text-transform: capitalize;
    &__input {
      text-align: left;
      border: none;
      font-size: 1.5rem;
      margin-top: 1rem;
    }
  }

  &--small {
    width: 13.5rem;

    &__arrow {
      color: $primary-alpine;
      font-size: 1.2rem;
      position: relative;
      top: 0rem;
      left: 22%;
    }

    &__text {
      text-align: center;
      display: inline-block;
      margin-top: 1rem;
    }
  }
}

.dropdown-head__text__input:focus {
  outline: none;
}

.dropdown {
  display: none;
  border: 0.1rem solid $primary-alpine;
  border-top: none;
  border-radius: 0 0 2rem 2rem;
  position: relative;
  // height: 10rem;
  // scroll-behavior: initial;

  top: -2rem;
  // top: -2rem;
  padding: 1rem;
  padding-bottom: unset;
  width: 100%;
  // z-index: 0;

  &__list {
    list-style: none;

    // padding: 1rem 0rem;
    &__item {
      padding-top: 2.5rem;
      padding-bottom: 1.5rem;
      border-bottom: 0.1rem dashed $primary-alpine;
      cursor: pointer;

      &:last-child {
        border-bottom: none;
      }

      &__link {
        text-transform: capitalize;
        color: $lighter-black;
        font-size: 1.6rem;
      }
    }
  }

  &--small {
    position: relative;
    top: -2rem;
    padding: 0.5rem;
    width: 12.3rem;

    &__list {
      // list-style: none;
      padding: 0.5rem;

      &__item {
        padding-top: 1rem;
        padding-bottom: 1rem;

        // &__link {
        //   text-transform: capitalize;
        //   color: $lighter-black;
        //   // font-size: 2rem;
        // }
      }
    }
  }

  &--m {
    position: relative;
    top: -2rem;
    padding: 0.5rem;

    width: 30rem;

    &__list {
      // list-style: none;
      padding: 0.5rem;

      &__item {
        padding-top: 1rem;
        padding-bottom: 1rem;

        // &__link {
        //   text-transform: capitalize;
        //   color: $lighter-black;
        //   // font-size: 2rem;
        // }
      }
    }
  }

  &--listing {
    width: 10rem;
  }
}

.dropdown-open {
  display: block;
  &--s {
    display: block;
    z-index: -1;
    background-color: $main-white;
    left: -1rem;
  }
}

// .dropdown-container {
//   width: 150px
// }
.dropdown-containera {
  width: 65%;
  margin-top: 3rem;

  &--category {
    justify-self: end;
    // position: absolute;
  }

  &--sort {
    justify-self: center;
  }
  &--search {
    width: 50%;
  }

  &--onlySearch {
    width: 22%;
  }
}

.dropdownArrow {
  color: $primary-alpine;
  font-size: 2rem;
  position: relative;
  top: 0.2rem;

  &--1 {
    left: 55%;
  }

  &--2 {
    left: 60%;
  }

  &--3 {
    left: 5%;
    // @media (max-width: 1315px) {
    //   left:2%
    // }
    // @media (max-width: 1323px) {
    //   left:1%
    // }
    // @media (max-width: 1270px) {
    //   left:-1%
    // }
    // @media (max-width: 1285px) {
    //   left:-2%
    // }
    // @media (min-width: 1243px) {
    //   left:-6%
    // }
    
  }
}

.dropdown-main-containera {
  display: grid;
  grid-template-columns: 40rem 40rem 40rem;
  justify-self: center;
  justify-content: center;
  // position: absolute;
}

.dropdown-main-componant {
  justify-self: center;
}
.regdropdown-container {
  // box-sizing: border-box;
  width: 80%;
  position: absolute;
  background-color: white;
  border-radius: 3rem 3rem 5rem 5rem;
  // height: fit-content;
  top: 31%;
  &--s {
    // border-radius: 0 0 2rem 2rem;
    width: 75%;
    top: 41%;
    left: 10.5%;
  }
}
