.text-slider-container {
    padding-top: 5rem;
    height: 50rem;
}

.text-slider-content {
    text-align: center;
    padding: 8rem;
    color: $main-white;
}

.slider-text {
    font-size: 5rem;
    text-transform: uppercase;
}

polygon {
    fill: $main-white;
}