.product-card {
  width: 77%;
  // width: 45rem;
  height: 18rem;
  border: 0.2rem solid $primary-alpine;
  border-radius: 1.2rem;
  margin: 3rem auto;

  @include flex(row, space-evenly, center, wrap);
  &--large {
    height: 22rem;
  }
  &--user {
    @include flex(row, space-between, center, wrap);
    height: 22rem;
    padding: 0rem 3rem 2rem 0rem;
    width: auto;
    height: auto;
  }
  &__img {
    border-radius: 50%;
    width: 15rem;
    height: 15rem;
    border: 0.1rem solid $primary-alpine;
    &--user {
      width: 16rem;
      height: 16rem;
    }
    @media (max-width: 1220px) {
      width: 12rem;
      height: 12rem;
    }
    &--large {
      // width: 17rem;
      // height: 17rem;
    }
  }
  &__closeIcon {
    position: relative;
    top: -9.5rem;
    left: 44rem;
    padding: 0.4rem 0.7rem;
    border-radius: 50px;
    background-color: $lighter-alpine;
    color: $main-white;
    &:hover {
      cursor: pointer;
    }
    &--cart {
      top: 3.5rem;
      left: 46.5rem;
    }
  }
  &__text {
    width: 40%;
    // height: 10rem;
    // @include flex(column, center, space-around);
    &--user {
      // width: 50%;
      // height: auto;
    }
    @media (max-width: 1220px) {
      width: 30%;
    }
    &__header {
      text-transform: capitalize;
      text-align: center;
      // font-size: ;
    }
    &__line {
      background-color: $primary-alpine;
      height: 0.1px;
      width: 80%;
      margin: 0.2rem auto;
    }
    &__cancelBtn {
      margin-left: 8rem;
      margin-top: 1rem;
      width: 100%;
      &--user {
        @include flex(row, right, center);
        margin-left: 0;
      }
    }
    &__content {
      @include flex(row, space-around, center);
      &__info {
        .amount {
          padding: 0.3rem 0;
        }
      }
      &__line {
        width: 0.1rem;
        height: 6rem;
        background-color: $primary-alpine;
        margin: 0.1rem 0rem;
      }
      &__prices {
        .amount {
          padding: 0.3rem 0;
        }
      }
    }
  }
}
