.footer {
    width: 100%;
    height: 24rem;
    background-color: $main-black;
    color: $gray;
    margin: auto;
    font-weight: 700;
    display: flex;
    flex-direction: column;
    position: relative;
    bottom: 0;
    left: 0;

    &__bottom {
        width: 100%;
        height: 13%;
        display: flex;
        justify-content: space-around;
        align-items: center;
        border: 0.1rem solid $main-gray;

        &__icons {
            margin: 0.5rem;


        }
    }
}

.footerContainer {
    margin: auto;
    height: 85%;
    width: 100%;
    display: flex;
    justify-content: center;
    ;
    // /grid-template-columns: 25% 25% 25%;
    align-items: center;

    &__col {
        width: 27.7%;
        height: 85%;
        list-style: none;
        margin-left: -4rem;

        &__menu {
            padding: .5rem;
            list-style: none;

            &__item {
                padding: 0.5rem;
            }

            &__text {
                padding: 1rem;
            }
        }

        &__logo {
            width: 40%;
            padding: .5rem;
        }

        &__text {
            width: 80%;
        }

        &__title {
            align-items: center;
        }
    }
}

.grid {
    display: grid;
    grid-template-columns: 50% 50%;
    list-style: none;
}

.imgs {
    width: 50px;
    height: 50px;
    margin-right: 0.5rem;
}

.pad {
    margin: 0.5rem;
}

.item {
    margin: 0.5rem;
    padding: .5rem;
    display: flex;
}